.navbar-font{
    font-size: 12px;
    margin-bottom: 0px;
}

.right-container{
    margin-right: 11.5rem!important;
}

.bg-orange{
    background-color: orange;
    height: 60px;
}

.second-navbar{
    width: 100%;
}